.body{
    font-family: 'Roboto Serif', serif;
    }
    /***Navbar***/
.nav-item{
    letter-spacing:.2em;
    font-size:14px;
    text-transform:uppercase;
    }

.dropdown{
    letter-spacing:.2em;
    font-size:14px;
    text-transform:uppercase;
    }

.my_footer{
    background-color:#f8f9fa;
    height:60 px;
    }

.my_footer_p{
    padding-top:20px;
    font-size:14px;
    }

/*** category***/

.my_row_class{
    padding-top:15px;
    }

.my_row_class .mx_auto{
    color:#000;
    font-size:12 px;
    }

.my_image{
    width:100%;
    height:auto;
    }

.my_title{
    font-size:16 px;
    text_transform:uppercase;
    letter-spacing:0.2em;
    }

.my_image_title{
    padding:5 px;
    }

.my_bottom_margin{
    margin-bottom:10 px;
    }

.card-body h4{
    font-size:14 px;
    text-transform:uppercase;
    letter-spacing:0.2em;
    }

/***Product***/

.my_prod_row_class{
    padding-top:15 px;
    padding-bottom:10 px;
    }

.my_prod_row_class .mx_auto{
    color:#000;
    font-size:12 px;
    text-decoration:none;
    }

.my_prod_title{
    font-size:16px;
    text_transform:uppercase;
    letter-spacing:0.2em;
    padding-top:15px;
    padding-bottom:10px;
    }

.my_search_app{
    padding-top:20px;
    }

/***Cart***/
.my_custom_table {
    min-width:40 px;
    font-size:14 px;
    }

.my_custom_thead{
    fomnt-weight:normal;
    text_transform:uppercase;
    letter-spacing:.2 em;
    background-color:#f8f8fa!important;
    }

.custom_a{
    text-decoration:none;
    }

.custom_icon{
    text-decoration:none;
    color:#868e96!important
    }

.custom_button{
    margin-top:5 px;
    }